.searchPosts {
	--pagePadding: 150px;

	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	transform: translateY(calc(50vh - 30px));
	transition: transform 0.3s ease;

	&.show {
		transform: translateY(30px);
	}

	> .searchBox {
		position: relative;
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		padding: 0 var(--pagePadding);
		justify-content: center;

		> input {
			width: 100%;
			height: 100%;
			background-color: white;
			color: black;
			border-radius: 999px;
			box-shadow: 0px 0px 0px 0px var(--colorAccent);
			border: 1px solid var(--colorAccent);
			padding: 0 20px;
			outline: none;
			text-align: center;
			font-size: 22px;
			font-weight: 300;
			transition: box-shadow 0.2s ease-in-out;

			&:focus {
				box-shadow:  0px 0px 20px -10px var(--colorAccent);
			}
		}

		> .twitterIcon {
			position: absolute;
			left: var(--pagePadding);
			width: 25px;
			height: 25px;
			margin-left: 25px;
		}
		> .searchIcon {
			position: absolute;
			right: var(--pagePadding);
			width: 25px;
			height: 25px;
			margin-right: 25px;
			stroke: var(--colorAccent);
		}
	}
	> .posts {
		position: relative;
		display: grid;
		width: 100%;
		padding: 30px;
		grid-template-columns: repeat(3, 2fr);
		gap: 10px
	}
}