@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: white;

	// Gradients
	--gradientTwitter: linear-gradient(320deg, #1d64f2, #1DA1F2);
	--gradientWhite: linear-gradient(120deg, #edf1f4 10%, #c3cbdc);
	--gradientBackground: var(--gradientTwitter);
	--colorBorderPrimary: #3f3f3f;
	--colorAccent: #1DA1F2;
	--headerThickness: 100px;

}

#__next {
	width: 100%;
	height: 100%;
	background-color: white;
	overflow-x: hidden;

	::selection {
		color: white;
		background: var(--colorAccent);
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif
}
